.profPic
{
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 5px;
	overflow: hidden;
	margin: 0px 15px 15px 15px;
}
.username
{
	font-weight: bold;
	padding-top: 75px;
}
.twitterHandleTime
{
	font:12px;
	color: grey;
	margin-left: 10px;
	padding-top: 75px;
}
.tweetMsg
{
	max-width: 80%;
	font:14px;
}
.inlinePic
{
	max-width: 100%;
	height: auto;
	border-radius: 7px;
	margin: 15px 0px 15px;
}
.tweetButtons
{
	font:14px;
	color: grey;
}
.reply
{
	margin-right: 25px;
}
.retweetlikeCnt
{
	margin: 0px 25px 0px 4px;
}